# Kata 5

In [29]:
seconds = 1042
display_minutes = 1042 // 60
print(display_minutes)
display_seconds = 1042 % 60
print(display_minutes)
print(display_seconds)
result_1 = 1032 + 26 * 2
result_2 = 1032 + (26 * 2)
print(result_1, result_2)
demo_int = int('215')
print(demo_int)
demo_float = float('215.3')
print(demo_float)
a = 39 - 16
b = 16 - 39
print(a, b)
print(abs(39 - 16)) or (abs(16 - 39))
print(round(14.6))
from math import ceil, floor
round_up = ceil(12.5)
print(round_up)
round_down = floor(12.5)
print(round_down)

17
17
22
1084 1084
215
215.3
23 -23
23
15
13
12

Ejercicios

In [30]:
tierra = 149597870 # in km 
jupiter = 778547200 # in km

In [31]:
distance_km = jupiter - tierra
print(distance_km)
mi_distance = distance_km * 0.621
print(mi_distance)
print(round(mi_distance))
#Podria ahorrar esa doble ejecucion pero me sirve para notar que devo hacer

628949330
390577533.93
390577534

In [32]:
tierra = input('distancia del primer planeta al sol en km')
jupiter = input('distancia del segundo planeta al sol en km')
#aqui las planeta los defini pero en realidas podria ser cualquiera

In [33]:
tierra = int(tierra)
jupiter = int(jupiter)

In [34]:
distance_km = jupiter - tierra
print(distance_km)
# Convertir de KM a Millas
mi_distance = distance_km * 0.621
print(mi_distance)
print(round(abs(mi_distance)))

629000000
390609000.0
390609000